body {
    padding-top: 150px;
    min-height: 100vh;
    background: url(../img/background.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: Hard;
    src: url(../fonts/HARD_ROCK.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Rock;
    src: url(../fonts/rocknroll_typo_crazy.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Dark;
    src: url(../fonts/TheDark.ttf);
    font-weight: bold;
}

.form-control::placeholder {
    font-family: Hard;
    color: red;
  }

.btn {
    font-family: Rock;
}  

.text-capitalize, .text-uppercase {
    font-family: Dark;
    font-size: x-large;
}

.navbar-brand {
    font-family: Dark;
    font-size: xxx-large;
    font-weight: bold;
}

.card {
    box-shadow: 5px 5px 3px;
    transition: all 0.2s ease-out;
}

.card:hover {
    box-shadow: 5px 5px 5px 3px;
    transform: scale(1.1);
    z-index: 10;
}